/*
*
* style.css
* @author - Mazeen
* @date - 14 October, 2022
**/

.menu-bar {
    background-color: #128c7e;
    padding: 25px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.cell-200w {
    max-width: 200px;
    margin-left: 110px;
}
.menu-list {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 100px;
}
.menu-list li {
    display: inline-block;
    margin-right: 68px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}